@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-myFont: "Plus Jakarta Sans", serif;
  --font-myNumberFont: "Azeret Mono", serif;

  --color-myBlack: #000000;
  --color-myWhite: #FFFFFF;
  --color-myLightGray: #333333;
  --color-myDarkWhite: #F0F0F0;

  --color-myDarkBackground: #222222;
  --color-myLigtBackground: #2A2A2A;
  
  --color-myGrayText: #878C91;
  --color-myYellowText: #E4A321;
  
  --color-myPrimary: #00CFE7;
  --color-myDarkPrimary: #5FB819;

  --color-myGrowthCard1: #759FF5;
  --color-myGrowthCard2: #FFAA00;
  --color-myGrowthCard3: #00CFE7;
  --color-myGrowthCard4: #FF7C4D;

  --color-myCard1: #FFB288;
  --color-myCard2: #CFD2FF;
  --color-myCard3: #EBFAFD;

  --color-myStoriesCardBackground: #E5E7EC;

  --color-myStoriesCard1: #00CFE7;
  --color-myStoriesCard2: #FE926B;
  --color-myStoriesCard3: #33CC79;
  --color-myStoriesCard4: #E2A11A;

  --color-c1: #D82108;
  --color-c2: #FFB71B;
  --color-c3: #6BCDEE;
  --color-c4: #FF7E71;
  --color-c5: #7671FF;
  --color-c6: #344379;
}